<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Iron Throne</title>
    <link rel="stylesheet" type="text/css" href="./css/jass.css">
    <link rel="stylesheet" type="text/css" href="./css/syle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
</head>
<body>
    <div id="animation-bg" class="vh-100">
        <div id="throne-bg" class="vh-100">
                    <nav class="navbar-expand-lg navbar-dark bg-dark fs-3 pt-3">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                            {{{login}}}
                        </div>
                    </nav>
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-6 mt-5 text-white text-center">
                                <p id="the">the</p>
                                <p id="headline">
                                   Iron Throne
                                </p>
                                <p class="fs-4" id="subhead">
                                    A Quiz of Ice and Fire
                                </p>
                                <p class="p-3 mb-2 bg-dark bg-opacity-75">
                                    Login to take the quiz. At the end we will reveal which character you are most similar to. Good luck in the harsh lands of Westeros!
                                </p>
                                {{#if !LoggedIn }}
                                <button class="btn btn-secondary" type="submit">Start Quiz</button>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                
                    <div class="container mb-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-6 text-center">
                                {{{body}}}
                        </div>
                    </div>
                
                <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.fog.min.js"></script>
                <script> 
                    VANTA.FOG({ el: "#animation-bg", mouseControls: true, touchControls: true, gyroControls: false,
                    minHeight: 200.00, minWidth: 200.00, highlightColor: 0x5d9fff, midtoneColor: 0xff6e00, lowlightColor: 0x0, 
                    baseColor: 0x223924, blurFactor: 0.59, speed: 1.10 })
                </script>

        {{#if loggedIn}}
        <script src="/js/logout.js"></script>
        {{/if}} 
    </div>
    </div>
    </div>
</body>
</html>