<div class="card" style="width: 100%;">
    <img src="/images/got-group.jpg" class="card-img-top" alt="image" style="margin: auto; max-width:550px; max-height:306px;">
    <div class="card-body">
        <h5 class="card-title">The Seven Kingdoms</h5>
        <ul class="list-group list-group-flush">
            {{!-- {{#each results}}
            <li class="list-group-item">{{user}} is {{char_name}}!</li>
            {{/each}} --}}
            <li class="list-group-item">Amanda is Hodor!</li>
            <li class="list-group-item">Amanda is Jon Snow!</li>
            <li class="list-group-item">Ashley is Hodor!</li>
            <li class="list-group-item">Andy is Cercei!</li>
            <li class="list-group-item">Sal is Joffrey!</li>
        </ul>
  </div>
</div>