<div class="card" style="width: 100%;">
    <img src="/images/got-group.jpg" width="550" height="306" class="card-img-top w-10 h-10" alt="image" style="margin: auto;">
    <div class="card-body">
        <h5 class="card-title">The Seven Kingdoms</h5>
        <ul class="list-group list-group-flush">
            {{#each results as |result|}}
            <li class="list-group-item">{{user.user}} is {{result.char_name}}!</li>
            {{/each}}
        </ul>
  </div>
</div>