<div class="card" style="width: 100%;">
    <img src="/images/got-group.jpg" class="card-img-top" alt="image" style="margin: auto; max-width:550px; max-height:306px;">
    <div class="card-body">
        <h5 class="card-title">The Seven Kingdoms</h5>
        <ul class="list-group list-group-flush">
            {{#each users}}
            <li class="list-group-item">{{user}} is {{result_char}}!</li>
            {{/each}}
        </ul>
  </div>
</div>