<div class="card" style="width: 100%;">
    <img src="{{result.character.img_link}}" class="card-img-top" alt="image" style="margin: auto; max-width:550px; max-height:306px;">
    <div class="card-body">
        <h5 class="card-title">You are {{result.character.char_name}}!</h5>
    <p class="card-text">{{result.character.blurb}}</p>
    <a href="./leaderboard" class="btn btn-secondary">Post Your Results</a>
  </div>
</div>