<div class="card" style="width: 100%;">
    <img src="{{img_link}}" class="card-img-top" alt="image" style="margin: auto; max-width:550px; max-height:306px;">
    <div class="card-body mb-3 mt-2">
        <h5 class="card-title">You are {{char_name}}!</h5>
    <p class="card-text">{{blurb}}</p>
    <a href="/leaderboard" class="btn btn-secondary" id="postResults">Post Your Results</a>
  </div>
  <script>
    // add an event listenter to the post results button
    //document.getElementById("postResults").addEventListener("click", function(event) {
        // prevent the default action of the event
        //event.preventDefault()
        // create a new entry in the Result table
        //fetch("/api/results", {
            //method: "POST", 



  </script>
</div>